/*
Primer CSS
autor: Andres MC
16 de junio de 2024
*/

#principal{
    float: left;
    width: 334px;
}

.filas{
    float: left;
    width: 334px;
}

.celdas{
    float: left;
    width: 60px;
    height: 60px;
    margin: 2px;
    border: solid 1px #000;
}

.fondo-azul{
    background-color:#2234db;
}

.fondo-rojo{
    background-color:#a81111;
}
.fondo-amarillo{
    background-color:#e3e00d;
}